body {
    margin: 0;
}

.auth__top {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    max-height: 84px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
}
.auth__logo {
    width: 122px;
    height: 40px;
    margin-top: -12px;
}
.auth__heading {
    color: #222;
    font-size: 1.5rem;
    margin-left: 10px;
}
.auth__link {
    text-decoration: none;
    margin-left: auto;
    color: #ee4d2d;
    font-size: 0.875rem;
    margin-right: 15px;
    cursor: pointer;
    background-color: initial;
}

.auth__bottom {
    padding: 70px 0;
    background: #ee4e2e;
    display: flex;

    align-items: center;
    justify-content: space-around;
}
.auth__desc {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    width: 450px;
}
.auth__form-inner {
    padding: 22px 30px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    /* overflow: hidden; */
    max-width: 450px;
}
.auth__logo-img {
    background: transparent;
}
.auth__form-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth__form-title {
    margin-right: 10px;
    flex-shrink: 0;
    max-width: 8.5rem;
    font-size: 1.25rem;
    color: #222;
    font-family: "Helvetica Neue";
}
.auth__form-text {
    padding: 0.6875rem 0.875rem;
    color: #ffbf00;
    font-size: 0.875rem;
    font-weight: 700;
    border: 2px solid #ffbf00;
    border-radius: 2px;
    position: relative;
    margin-right: 1rem;
    background-color: #fefaec;
}
.auth__form-text::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    top: 50%;
    right: -0.75rem;
    color: #ffbf00;
    background-color: #fefaec;
}
.auth__form-qr svg {
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    background-color: initial;
}
.form__group {
    margin-top: 20px;
}
.form__text-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    background: transparent;
}
.form__text-input:focus-within {
    background: #fff6f7;
    border-color: #666;
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__text-input {
    border-color: rgb(255, 66, 79);
    background: rgba(255, 66, 79, 0.1);
}
.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) .form__error {
    display: block;
}
.form__input {
    width: 100%;

    padding: 0.75rem;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
}
.form__input-icons {
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 0.9375rem 0 0.75rem;
}
.form__input-icon {
    width: 1.25rem;
    height: 0.625rem;
    padding-top: 0.375rem;
    cursor: pointer;
}
.form__error {
    margin: 0;
    display: none;
    font-size: 0.75rem;
    color: #ff424f;
    min-height: 1rem;
}
.form__group-btn {
    width: 100%;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
    border: none;
    outline: none;
    padding: 12px 0;
    border-radius: 3px;
    cursor: pointer;
}
.form:has(:invalid) .form__group-btn {
    opacity: 0.5;
    pointer-events: none;
}
.form__group--inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__group-link {
    color: #05a;
    font-size: 0.75rem;
    text-decoration: none;
    padding: 2px;
}
.form__group-separate {
    display: flex;
    padding-bottom: 14px;
    align-items: center;
}
.form__group-separate .separate {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}
.form__group-separate .desc {
    font-size: 0.9rem;
    padding: 0 15px;
    color: #dbdbdb;
}
.form__group-social {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.form__group-social--wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    padding: 0 2px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: 0.875rem;
    margin: 5px;
    text-decoration: none;
}

.form__group-social--wrap svg {
    width: 22px;
    height: 22px;
    object-fit: contain;
    padding: 7px;
}
.form__group-social-desc {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
}
.auth__text {
    display: flex;

    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.26);
    font-size: 0.875rem;
}

.auth__text a {
    text-decoration: none;
    color: #ee4d2d;
    font-weight: 500;
    font-size: 0.875rem;
    margin-left: 8px;
}
